@model WilbertVaultCompany.api.Models.Plant

@{
    ViewData["Title"] = "Delete";
}

<head>
    <link rel="canonical" href="#">

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/sticky-footer.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet">
</head>

<header>
    <!-- Fixed navbar -->
    @await Component.InvokeAsync("Dashboard")
</header>
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>

<!-- Begin page content -->
<main role="main" class="container">
    <center>
        <h1 class="mt-5">Funeral Home Details</h1>
        <div>
            <hr />
            <table class="table-bordered table-striped">
                <tr>
                    <td>
                        <strong>@Html.DisplayNameFor(model => model.PlantName)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.PlantName)
                    </td>
                    <td>
                        <strong>@Html.DisplayNameFor(model => model.PlantManagerEmail)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.PlantManagerEmail)
                    </td>
                    <td>
                        <strong>@Html.DisplayNameFor(model => model.PlantManagerTxtNum)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.PlantManagerTxtNum)
                    </td>
                </tr>
                <tr>

                    <td>
                        <strong>                        @Html.DisplayNameFor(model => model.Address)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Address)
                    </td>
                    <td>
                        <strong>@Html.DisplayNameFor(model => model.City)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.City)
                    </td>
                    <td>
                        <strong>@Html.DisplayNameFor(model => model.State)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.State)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>@Html.DisplayNameFor(model => model.ZipCode)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ZipCode)
                    </td>
                    <td>
                        <strong>@Html.DisplayNameFor(model => model.County)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.County)
                    </td>
                    <td>
                        <strong>@Html.DisplayNameFor(model => model.PrintCompletedOrders)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.PrintCompletedOrders)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>@Html.DisplayNameFor(model => model.Phone1)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Phone1)
                    </td>
                    <td>
                        <strong>@Html.DisplayNameFor(model => model.Phone2)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Phone2)
                    </td>
                    <td>
                </tr>
                <tr>
                    <td>
                        <strong>@Html.DisplayNameFor(model => model.PhoneType1)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.PhoneType1)
                    </td>
                    <td>
                        <strong>@Html.DisplayNameFor(model => model.PhoneType2)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.PhoneType2)
                    </td>
                </tr>
            </table>
            <form asp-action="Delete">
                <input type="hidden" asp-for="PlantId" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </form>
        </div>
    </center>
</main>