@model WilbertVaultCompany.api.Models.Plant

@{
    ViewData["Title"] = "Details";
}


<head>
    <link rel="canonical" href="#">

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/sticky-footer.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet">
</head>

<header>
    <!-- Fixed navbar -->
    @await Component.InvokeAsync("Dashboard")
</header>

<!-- Begin page content -->
<main role="main" class="container">
    <center>
        <h1 class="mt-5">Plant Details</h1>
        <div>
            <hr />
            <table class="table-bordered table-striped">
                <tr>
                    <td>
                        <strong>@Html.DisplayNameFor(model => model.PlantName)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.PlantName)
                    </td>
                    <td>
                        <strong>@Html.DisplayNameFor(model => model.PlantManagerEmail)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.PlantManagerEmail)
                    </td>
                    <td>
                        <strong>@Html.DisplayNameFor(model => model.PlantManagerTxtNum)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.PlantManagerTxtNum)
                    </td>
                </tr>
                <tr>

                    <td>
                        <strong>                        @Html.DisplayNameFor(model => model.Address)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Address)
                    </td>
                    <td>
                        <strong>@Html.DisplayNameFor(model => model.City)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.City)
                    </td>
                    <td>
                        <strong>@Html.DisplayNameFor(model => model.State)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.State)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>@Html.DisplayNameFor(model => model.ZipCode)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ZipCode)
                    </td>
                    <td>
                        <strong>@Html.DisplayNameFor(model => model.County)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.County)
                    </td>
                    <td>
                        <strong>@Html.DisplayNameFor(model => model.PrintCompletedOrders)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.PrintCompletedOrders)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>@Html.DisplayNameFor(model => model.Phone1)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Phone1)
                    </td>
                    <td>
                        <strong>@Html.DisplayNameFor(model => model.Phone2)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Phone2)
                    </td>
                    <td>
                </tr>
                <tr>
                    <td>
                        <strong>@Html.DisplayNameFor(model => model.PhoneType1)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.PhoneType1)
                    </td>
                    <td>
                        <strong>@Html.DisplayNameFor(model => model.PhoneType2)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.PhoneType2)
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <hr />
        <div>
            <a asp-action="Edit" asp-route-id="@Model.PlantId" class="btn-primary btn-lg">Edit</a>
            <a asp-action="Index" class="btn-secondary btn-lg">Back to List</a>
        </div>
    </center>
</main>      

