@model IEnumerable<WilbertVaultCompany.api.Models.Plant>

@{
    ViewData["Title"] = "Index";
}

<head>
    <title>Dashboard Template</title>

    <link rel="canonical" href="#">

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/sticky-footer.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet">
</head>
<!-- Fixed navbar -->
@await Component.InvokeAsync("Dashboard")

<!-- Begin page content -->
<main role="main" class="container">
    <center>
        <h1 class="mt-5">Plants</h1>
        <a asp-action="Create" class="btn btn-secondary">Create Plant</a>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PlantName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone1)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlantName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone2)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.PlantId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.PlantId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.PlantId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </center>
</main>