@model WilbertVaultCompany.api.Models.FuneralHomeContact

@{
    ViewData["Title"] = "Create";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>Login Template for Bootstrap</title>

    <link rel="canonical" href="#">

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/sticky-footer.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet">
</head>

<header>
    <!-- Fixed navbar -->
    @await Component.InvokeAsync("Dashboard")
</header>
<main role="main" id="fhc" class="container">
    <form asp-action="Create" method="post">
        <center>
            <h1 class="mt-5">Funeral Home Contact</h1>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <table>
                        <tr>
                            <td>
                                <label asp-for="fhName" class="control-label" style="width:300px;">Funeral Home</label>
                            </td>
                            <td>
                                <label asp-for="fhName" class="form-control" style="width:400px;">@Model.fhName</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="FirstName" class="control-label" style="width:300px;">First Name</label>
                            </td>
                            <td>
                                <input asp-for="FirstName" class="form-control" />
                            </td>
                            <td>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="LastName" style="width:300px;" class="control-label">Last Name</label>
                            </td>
                            <td>
                                <input asp-for="LastName" class="form-control" tabindex="1" style="width:400px;" />
                            </td>
                            <td>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="ShowPrices" /> @Html.DisplayNameFor(model => model.ShowPrices)
                                </label>
                            </td>
                        </tr>

                    </table>
                    <hr />

                </div>
            </div>
            <div>
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Edit" class="btn btn-secondary" asp-controller="FuneralHomes" asp-route-id="@Model.FuneralHomeId">Back to Funeral Home</a>
            </div>




            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="@(Model.ActiveTab == WilbertVaultCompany.api.Models.FuneralHomeContact.Tab.Details ? "active" :string.Empty)">
                        <a asp-route-tabname="Details" asp-action="SwitchToTabs">Details&nbsp;</a>
                    </li>
                    <li role="presentation" class="@(Model.ActiveTab == WilbertVaultCompany.api.Models.FuneralHomeContact.Tab.Preferences ? "active" :string.Empty)">
                        <a asp-route-tabname="Preferences" asp-action="SwitchToTabs">Interactions&nbsp; </a>
                    </li>
     
                </ul>

                @switch (Model.ActiveTab)
                {
                    case WilbertVaultCompany.api.Models.FuneralHomeContact.Tab.Details:
                        @await Component.InvokeAsync("ContactDetails", Model.FuneralHomeContactId);
                        break;
                    case WilbertVaultCompany.api.Models.FuneralHomeContact.Tab.Preferences:
                        @await Component.InvokeAsync("Preferences", Model.FuneralHomeId);
                        break;

                }

            </div>

        </center>
    </form>
</main>