@model WilbertVaultCompany.api.Models.FuneralHomeContact

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FuneralHomeContact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NickName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NickName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneType1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneType1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneType2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneType2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneType3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneType3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spouse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spouse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowPrices)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowPrices)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactRole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interests)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interests)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FuneralHomeContactId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
