@model IEnumerable<WilbertVaultCompany.api.Models.FuneralHomeContact>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<table>
    <tbody>
        <tr align="left">
            <td colspan="4"><label class="sectionLabel"></label><h3>Contact Information</h3></td>
        </tr>
        @if (Model.Count() != 0)
        {
            <tr align="left" style="color:White;background-color:#00446a;font-weight:bold;">
                <th scope="col"><a href="#" style="color:White;">Name</a></th>
                <th scope="col"><a href="#" style="color:White;">Title</a></th>
                <th scope="col"><a style="color:White;">Phone</a></th>
                <th scope="col"><a style="color:White;">&nbsp;</a></th>
                <th></th>
            </tr>
            @foreach (var contact in Model)
            {

                <tr align="left" style="color:#333333;background-color:#ECECEC;">
                    <td style="width:18%;">
                        <label asp-for="@contact.FirstName" class="control-label"> @contact.FirstName</label>
                    </td>
                    <td style="width:10%;">
                        <span>
                            <label asp-for="@contact.ContactRole" class="control-label">@contact.ContactRole</label>
                        </span>
                    </td>
                    <td>
                        @*<input asp-for="@contact.Phone1" readonly />*@
                        <label asp-for="@contact.Phone1">@contact.Phone1</label>
                    </td>
                    <td>
                    </td>
                    <td style="width:10%;"><a href="#">Disable Login</a></td>
                </tr>
            }
        }
    </tbody>
</table>
