@model IEnumerable< WilbertVaultCompany.api.Models.FuneralHomeContact>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<table>
    <tbody>
        <tr align="left">
            <td colspan="4"><label class="sectionLabel"></label><h3>Contact Information</h3></td>
        </tr>
        @if (Model.Count() != 0)
        {
            <tr align="left" style="color:White;background-color:#00446a;font-weight:bold;">
                <th scope="col"><a href="#" style="color:White;">Name</a></th>
                <th scope="col"><a href="#" style="color:White;">Title</a></th>
                <th scope="col"><a style="color:White;">Phone</a></th>
                <th scope="col"><a style="color:White;">&nbsp;</a></th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var contact in Model)
            {

                <tr align="left" style="color:#333333;background-color:#ECECEC;">
                    <td style="width:18%;">
                        <a asp-action="Edit" asp-route-id="@contact.FuneralHomeContactId"
                           asp-controller="FuneralHomeContacts">@Html.DisplayFor(modelItem => contact.FirstName)</a>

                    </td>
                    <td style="width:10%;">
                        <span>
                            <label asp-for="@contact.ContactRole" class="control-label">@contact.ContactRole</label>
                        </span>
                    </td>
                    <td>
                        <label asp-for="@contact.Phone1">@contact.Phone1</label>
                    </td>

                    <td>
                        <a href="#" class="btn btn-primary">Disable Login</a>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@contact.FuneralHomeContactId" asp-controller="FuneralHomeContacts" class="btn btn-secondary">Details</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-controller="funeralhomecontacts" asp-route-id="@contact.FuneralHomeContactId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section WilbertScripts {

    <script type="text/javascript">
        function phoneOnKeyDown(phoneTextBox) {
            if (phoneTextBox.value == 'xxx-xxx-xxxx') {
                phoneTextBox.value = '';
                phoneTextBox.style['color'] = 'black';
            }
        }

        function phoneOnBlur(phoneTextBox) {
            if (phoneTextBox.value.trim().length == 0) {
                phoneTextBox.value = 'xxx-xxx-xxxx';
                phoneTextBox.style['color'] = 'silver';
            } else {

                if (phoneTextBox.value.trim().length == 6) {  // 062019
                    phoneTextBox.value = phoneTextBox.value.substring(0, 2) + "/" + phoneTextBox.value.substr(2, 4);

                }

            }
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
}
