@model WilbertVaultCompany.api.Models.VaultOrder
@using WilbertVaultCompany.api.Enums
@{
    ViewData["Title"] = "Create";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>Login Template for Bootstrap</title>

    <link rel="canonical" href="#">

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/sticky-footer.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet">
</head>

<header>
    <!-- Fixed navbar -->
    @await Component.InvokeAsync("Dashboard")
</header>

<!-- Begin page content -->
<main role="main" id="fhd" class="container">
    <center>
        <form asp-action="Create" method="post">
            <div class="album py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <table>
                                <tbody>
                                    <tr>
                                        <th><label class="sectionLabel"></label><h3>Funeral Information</h3></th>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="Status"></label>
                                        </td>
                                        <td>
                                            <select asp-for="Status" maxlength="100" tabindex="1" style="width:300px;" asp-items="Html.GetEnumSelectList<OrderStatus>()"></select>
                                            <span asp-validation-for="Status" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="FuneralDate"></label>
                                        </td>
                                        <td>
                                            <input asp-for="FuneralDate" class="form-control" />
                                            <span asp-validation-for="FuneralDate" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="CemetaryTime"></label>
                                        </td>
                                        <td>
                                            <input asp-for="CemetaryTime" class="form-control" />
                                            <span asp-validation-for="CemetaryTime" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="Location"></label>
                                        </td>
                                        <td>
                                            <select asp-for="Location" maxlength="100" tabindex="1" style="width:300px;" asp-items="Html.GetEnumSelectList<FuneralLocation>()"></select>
                                            <span asp-validation-for="Location" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="OrderingPlant"></label>
                                        </td>
                                        <td>
                                            <select asp-for="OrderingPlant" class="form-control" asp-items="@(new SelectList(Model.OrderingPlant,"PlantId","PlantName"))">
                                            </select>
                                            <span asp-validation-for="OrderingPlant" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="DeliveringPlant"></label>
                                        </td>
                                        <td>
                                            <select asp-for="DeliveringPlant" class="form-control" asp-items="@(new SelectList(Model.DeliveringPlant,"PlantId","PlantName"))">
                                            </select>
                                            <span asp-validation-for="DeliveringPlant" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="ZipCode"></label>
                                        </td>
                                        <td>
                                            <input asp-for="ZipCode" class="form-control" />
                                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="FuneralHomes"></label>
                                        </td>
                                        <td>
                                            <select asp-for="FuneralHomes" class="form-control" asp-items="@(new SelectList(Model.FuneralHomes,"FuneralHomeId","Name"))">
                                            </select>
                                            <span asp-validation-for="FuneralHomes" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="funeralhome.Contacts"></label>
                                        </td>
                                        <td>
                                            <select asp-for="funeralhome.Contacts" class="form-control" asp-items="@(new SelectList(Model.funeralhome.Contacts,"FuneralHomeContactId","FullName"))">
                                            </select>
                                            <span asp-validation-for="funeralhome.Contacts" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="lstCemetaries"></label>
                                        </td>
                                        <td>
                                            <select asp-for="lstCemetaries" class="form-control" asp-items="@(new SelectList(Model.lstCemetaries,"CemetaryId","Name"))">
                                            </select>
                                            <span asp-validation-for="lstCemetaries" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="GraveLocationSection"></label>
                                        </td>
                                        <td>
                                            <input asp-for="GraveLocationSection" class="form-control" />
                                            <span asp-validation-for="GraveLocationSection" class="text-danger"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="col-md-6">
                            <table>
                                <tbody>
                                    <tr>
                                        <td><label class="sectionLabel"></label><h3>Deceased Information</h3></td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="theDecesased.Salutation"></label>
                                        </td>

                                        <td>
                                            <select asp-for="theDecesased.Salutation" maxlength="100" tabindex="1" style="width:300px;" asp-items="Html.GetEnumSelectList<Salutations>()"></select>
                                            <span asp-validation-for="theDecesased.Salutation" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="theDecesased.FirstName"></label>
                                        </td>
                                        <td>
                                            <input asp-for="theDecesased.FirstName" class="form-control" />
                                            <span asp-validation-for="theDecesased.FirstName" class="text-danger"></span>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="theDecesased.MiddleName"></label>
                                        </td>
                                        <td>
                                            <input asp-for="theDecesased.MiddleName" class="form-control" />
                                            <span asp-validation-for="theDecesased.MiddleName" class="text-danger"></span>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="theDecesased.LastName"></label>
                                        </td>
                                        <td>
                                            <input asp-for="theDecesased.LastName" class="form-control" />
                                            <span asp-validation-for="theDecesased.LastName" class="text-danger"></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <label asp-for="theDecesased.Suffix"></label>
                                        </td>
                                        <td>
                                            <select asp-for="theDecesased.Suffix" maxlength="100" tabindex="1" style="width:300px;" asp-items="Html.GetEnumSelectList<Suffix>()"></select>
                                            <span asp-validation-for=" theDecesased.Suffix" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="theDecesased.BornDate"></label>
                                        </td>
                                        <td>
                                            <input asp-for="theDecesased.BornDate" class="form-control" />
                                            <span asp-validation-for="theDecesased.BornDate" class="text-danger"></span>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="theDecesased.DiedDate"></label>
                                        </td>
                                        <td>
                                            <input asp-for="theDecesased.DiedDate" class="form-control" />
                                            <span asp-validation-for="theDecesased.DiedDate" class="text-danger"></span>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="theDecesased.FullName"></label>
                                        </td>
                                        <td>
                                            <input asp-for="theDecesased.FullName" class="form-control" />
                                            <span asp-validation-for="theDecesased.FullName" class="text-danger"></span>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                            <hr class="vertical-space3">
                            <table>
                                <tbody>
                                    <tr>
                                        <td colspan="4"><label class="sectionLabel"><h3>Additional Notes</h3></label></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="Notes"></label>
                                        </td>
                                        <td>
                                            <input asp-for="Notes" class="form-control" />
                                            <span asp-validation-for="Notes" class="text-danger"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div>
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </center>
</main>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
