@model WilbertSvcs.Management.PageControls.PaginatedList<WilbertVaultCompany.api.Models.VaultOrder>

@{
    ViewData["Title"] = "Index";
}

<head>
    <title>Dashboard Template</title>

    <link rel="canonical" href="#">

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/sticky-footer.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet">
</head>
<!-- Fixed navbar -->
@await Component.InvokeAsync("Dashboard")

<!-- Begin page content -->
<main role="main" id="fhl" class="container">
    <center>
        <div class="album py-5">
            <div class="container">
                <div class="row">
                    <!--Page Actions -->
                    <div class="container">
                        <h1 class="py-5">Vault Orders List</h1>
                        <div class="row">
                            <div class="col-md-6" style="text-align:right;">
                                <a asp-action="Create" class="btn btn-primary">Add New Order</a>
                            </div>
                            <div class="col-md-6" style="text-align:left;">
                                <a asp-action="Dashboard" asp-controller="Home" class="btn btn-primary">Back to Dashboard</a>
                            </div>
                        </div>
                        <br />
                        <form method="get" asp-action="Index">
                            <div class="input-group">
                                <input class="form-control" type="search" placeholder="Order Search..." 
                                       value="@ViewData["GetVaultOrderSearched"]" name="VOrdSearch" />
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary">Search Vault Order</button>
                                </div>
                            </div>
                        </form>
                        <!--Page Actions -->
                        <br />
                        <br />
                        <table>
                            <tbody>
                                <tr align="left" style="color:White;background-color:#00446a;font-weight:bold;">
                                    <th scope="col"><a href="#" style="color:White;">Order #</a></th>
                                    <th scope="col"><a href="#" style="color:White;">Deceased Name</a></th>
                                    <th scope="col"><a href="#" style="color:White;">Funeral Date/Time</a></th>
                                    <th scope="col"><a style="color:White;">Cemetery</a></th>
                                    <th scope="col"><a style="color:White;">Funeral Home</a></th>
                                    <th scope="col"><a href="#" style="color:White;">FH Director</a></th>
                                    <th scope="col"><a href="#" style="color:White;">Plant</a></th>
                                    <th scope="col"><a href="#" style="color:White;">Order Status</a></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                @foreach (var item in Model)
                                {
                                    <tr style="color:#333333;background-color:#ECECEC;">
                                        <td style="width:30%;"><a asp-action="Details" asp-route-id="@item.VaultOrderId">@Html.DisplayFor(modelItem => item.VaultOrderId)</a></td>
                                        <td style="width:10%;"><span>@Html.DisplayFor(modelItem => item.FullName)</span></td>
                                        <td style="width:10%;">@Html.DisplayFor(modelItem => item.FuneralDate)</td>    @*Add Cemetary Class*@
                                        <td style="width:10%;">@Html.DisplayFor(modelItem => item.CemetaryName)</td>
                                        <td style = "width:18%;"> @Html.DisplayFor(modelItem => item.funeralhome) </td>@*Add Funeral Home Class*@
                                        <td style = "width:10%;"><span> @Html.DisplayFor(modelItem => item.FuneralDirector) </span></td>
                                        <td style = "width:10%;"><span> @Html.DisplayFor(modelItem => item.DeliveringPlant) </span></td> @*Add Plant Class*@
                                        <td style="width:10%;"><span>@Html.DisplayFor(modelItem => item.Status)</span></td>
                                        <td style="width:10%;">
                                            <span><a asp-action="Edit" asp-route-id="@item.VaultOrderId" class="btn btn-secondary">Edit</a></span>
                                        </td>
                                        <td style="width:10%;">
                                            <span><a asp-action="Delete" asp-route-id="@item.VaultOrderId" class="btn btn-danger">Delete</a></span>
                                        </td>

                                    </tr>
                                }                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </center>
</main>
<main role="main" class="container">
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <div class="album py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="text-align:right;">
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-primary @prevDisabled">
                        Previous
                    </a>
                </div>
                <div class="col-md-6" style="text-align:left;">
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-primary @nextDisabled">
                        Next
                    </a>
                </div>
            </div>
        </div>
    </div>


</main>

