@model IEnumerable<WilbertVaultCompany.api.Models.Truck>
@using WilbertVaultCompany.api.Enums

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<hr style="border: 10px solid #00446a; border-radius: 5px;" />

<main role="main" id="fhc" class="container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <table>
                    <tbody>
                        <tr>
                            <td colspan="4"><label class="sectionLabel"><h3>Trucks Assigned</h3></label></td>
                        </tr>
                        @if (Model.Count() != 0)
                        {
                            <tr align="left" style="color:White;background-color:#00446a;font-weight:bold;">
                                <th scope="col"><a href="#" style="color:White;">Make and Model</a></th>
                                <th scope="col"><a href="#" style="color:White;">Year</a></th>
                                <th scope="col"><a href="#" style="color:White;">Type</a></th>
                                <th scope="col"><a href="#" style="color:White;">License Plate</a></th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr align="left" style="color:#333333;background-color:#ECECEC;">
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.TruckId"
                                           asp-controller="FuneralHomeContacts">@Html.DisplayFor(modelItem => item.Make) @Html.DisplayFor(modelitem => item.Model)</a>

                                    </td>
                                    <td>
                                        <span>
                                            <label asp-for="@item.Year" class="control-label">@item.Year</label>
                                        </span>
                                    </td>
                                    <td>
                                        <label>@item.Type</label>
                                    </td>
                                    <td>
                                        <label>@item.TruckId</label>
                                    </td>

                                    <td>
                                        <a asp-action="Delete" asp-controller="Trucks" asp-route-id="@item.TruckId" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</main>
