@model IEnumerable<WilbertVaultCompany.api.Models.Truck>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<table>
    <tbody>
        <tr>
            <td colspan="4"><label class="sectionLabel"><h3>Trucks Assigned</h3></label></td>
        </tr>
        @if (Model.Count() != 0)
        {
            <tr align="left" style="color:White;background-color:#00446a;font-weight:bold;">
                <th scope="col"><a href="#" style="color:White;">Make and Model</a></th>
                <th scope="col"><a href="#" style="color:White;">Year</a></th>
                <th scope="col"><a href="#" style="color:White;">Type</a></th>
                <th scope="col"><a href="#" style="color:White;">License Plate</a></th>
                <th scope="col"><a href="#" style="color:White;"></a></th>
            </tr>
            @foreach (var truck in Model)
            {
                <tr align="left" style="color:#333333;background-color:#ECECEC;">
                    <td style="width:10%;">@truck.Make @truck.Model</td>
                    <td style="width:10%;">@truck.Year</td>
                    <td style="width:10%;">@truck.Type</td>
                    <td style="width:10%;">@truck.TruckId</td>
                    <td style="width:10%;">
                        <a class="btn btn-primary" asp-action="Edit" asp-controller="Trucks" asp-route-id="@truck.TruckId">Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-controller="Trucks" asp-route-id="@truck.TruckId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
