@model WilbertVaultCompany.api.Models.Interaction
@using WilbertVaultCompany.api.Enums

<table>
    <tbody>
        <tr align="left">
            <td colspan="4"><label class="sectionLabel"></label><h3>Interactions</h3></td>
        </tr>
        <tr style="color:#333333;background-color:#FFFFFF;">
            <td><label class="titleLabel">Date:</label></td>
            <td><input type="text" maxlength="100" tabindex="1" asp-for="@Model.Date" style="width:100px;"></td>
            <td><label class="titleLabel">Nature:</label></td>
            @*NATURE*@
            <td> <select asp-for="Nature" maxlength="100" tabindex="1" style="width:300px;" asp-items="Html.GetEnumSelectList<InteractionNature>()"></select></td>
        </tr>
        <tr style="color:#333333;background-color:#FFFFFF;">
            <td><label class="titleLabel">Notes:</label></td>
            <td><input type="text" rows="2" cols="20" tabindex="2" asp-for="@Model.Notes" style="height:100px;width:400px;"></td>
        </tr>
        <tr style="color:#333333;background-color:#ffffff;">
            <td><label class="titleLabel">Follow Up Date:</label></td>
            <td><input type="text" maxlength="100" tabindex="1" value="Date" style="width:100px;"></td>
            <td><label class="titleLabel">Reason:</label></td>
            <td><select asp-for="Reason" maxlength="100" tabindex="1" style="width:300px;" asp-items="Html.GetEnumSelectList<FollowUpReason>()"></select></td>
            <td><label class="titleLabel">Completed:</label></td>
            <td>
                <input asp-for="@Model.Completed" type="radio" value="Yes" />
                <label>Yes</label>
                <input asp-for="@Model.Completed" type="radio" value="No">
                <label>No</label>
            </td>
        </tr>
        <tr style="color:#333333;background-color:#FFFFFF;">
            <td><label class="titleLabel">Outcome:</label></td>
            <td><input type="text" rows="2" cols="20" tabindex="2" asp-for="@Model.Outcome" style="height:100px;width:400px;"></td>
        </tr>
    </tbody>
</table>