@model WilbertVaultCompany.api.Models.FuneralHome

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="canonical" href="#">

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/sticky-footer.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet">
</head>

<header>
    <!-- Fixed navbar -->
    @await Component.InvokeAsync("Dashboard")
</header>

<!-- Begin page content -->
<main role="main" class="container">
    <center>
        <h1 class="mt-5">Funeral Home Details</h1>
        <div>
            <hr />
            <table>
                <tr>
                    <td>
                        <strong> @Html.DisplayNameFor(model => model.Name)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                    <td>
                        <strong>
                            @Html.DisplayNameFor(model => model.IsParent)
                        </strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.IsParent)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            @Html.DisplayNameFor(model => model.ParentName)
                        </strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ParentName)
                    </td>

                    <td>
                        <strong>
                            @Html.DisplayNameFor(model => model.Address)
                        </strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Address)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            @Html.DisplayNameFor(model => model.City)
                        </strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.City)
                    </td>
                    <td>
                        <strong>
                            @Html.DisplayNameFor(model => model.State)
                        </strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.State)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            @Html.DisplayNameFor(model => model.ZipCode)
                        </strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ZipCode)
                    </td>
                    <td>
                        <strong>
                            @Html.DisplayNameFor(model => model.County)
                        </strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.County)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            @Html.DisplayNameFor(model => model.Email)
                        </strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Email)
                    </td>
                    <td>
                        <strong>
                            @Html.DisplayNameFor(model => model.Website)
                        </strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Website)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            @Html.DisplayNameFor(model => model.Phone1)
                        </strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Phone1)
                    </td>
                    <td>
                        <strong>
                            @Html.DisplayNameFor(model => model.Phone2)
                        </strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Phone2)
                    </td>
                    <td>
                        <strong>
                            @Html.DisplayNameFor(model => model.PhoneType1)
                        </strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.PhoneType1)
                    </td>
                    <td>
                        <strong>
                            @Html.DisplayNameFor(model => model.PhoneType2)
                        </strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.PhoneType2)
                    </td>

                </tr>
            </table>
        </div>
        <br />  <hr />
        <div>
            <a asp-action="Edit" asp-route-id="@Model.FuneralHomeId" class="btn-primary btn-lg">Edit</a> 
            <a asp-action="Index" class="btn-secondary btn-lg" >Back to List</a>
        </div>
    </center>
</main>