@model IEnumerable<WilbertVaultCompany.api.Models.FuneralHome>

@{
    ViewData["Title"] = "Index";
}

<head>
    <title>Dashboard Template</title>

    <link rel="canonical" href="#">

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/sticky-footer.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet">
</head>
<!-- Fixed navbar -->
@await Component.InvokeAsync("Dashboard")

<!-- Begin page content -->
<main role="main" id="fhl" class="container">
    <center>
        <div class="album py-5">
            <div class="container">
                <div class="row">
                    <div class="container">
                        <h1 class="py-5">Funeral Homes List</h1>
                        <div class="row">
                            <div class="col-md-6" style="text-align:right;">
                                <a asp-action="Create" class="btn btn-primary">ADD NEW FUNERAL HOME</a>
                            </div>
                            <div class="col-md-6" style="text-align:left;">
                                <a asp-action="Dashboard" asp-controller="Home" class="btn btn-primary">BACK TO DASHBOARD</a>
                            </div>
                        </div>
                        <!--Page Actions -->
                        <br />
                        <br />
                        <table>
                            <tbody>
                                <tr align="left" style="color:White;background-color:#00446a;font-weight:bold;">
                                    <th scope="col"><a href="#" style="color:White;">@Html.DisplayNameFor(model => model.Name)</a></th>
                                    <th scope="col"><a href="#" style="color:White;">@Html.DisplayNameFor(model => model.City)</a></th>
                                    <th scope="col"><a href="#" style="color:White;">@Html.DisplayNameFor(model => model.State)</a></th>
                                    <th scope="col"><a style="color:White;">@Html.DisplayNameFor(model => model.Phone1)</a></th>
                                    <th scope="col"><a href="#" style="color:White;">@Html.DisplayNameFor(model => model.ParentName)</a></th>
                                    <th scope="col"><a href="#" style="color:White;">@Html.DisplayNameFor(model => model.PlantName)</a></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                @foreach (var item in Model)
                                {
                                    <tr style="color:#333333;background-color:#ECECEC;">
                                        <td style="width:30%;"><a asp-action="Details" asp-route-id="@item.FuneralHomeId">@Html.DisplayFor(modelItem => item.Name)</a></td>
                                        <td style="width:10%;"><span>@Html.DisplayFor(modelItem => item.City)</span></td>
                                        <td style="width:10%;"><span>@Html.DisplayFor(modelItem => item.State)</span></td>
                                        <td style="width:10%;">@Html.DisplayFor(modelItem => item.Phone1)</td>
                                        <td style="width:18%;">@Html.DisplayFor(modelItem => item.ParentName)</td>
                                        <td style="width:10%;"><span>@Html.DisplayFor(modelItem => item.PlantName)</span></td>
                                        <td style="width:10%;">
                                            <span><a asp-action="Edit" asp-route-id="@item.FuneralHomeId" class="btn btn-secondary">Edit</a></span>
                                        </td>
                                        <td style="width:10%;">
                                            <span><a asp-action="Delete" asp-route-id="@item.FuneralHomeId" class="btn btn-danger">Delete</a></span>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </center>
</main>
<main role="main" class="container">
    <div class="album py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="text-align:right;">
                    <a class="btn btn-primary" href="#">Prev</a>
                </div>
                <div class="col-md-6" style="text-align:left;">
                    <a class="btn btn-primary" href="#">Next</a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="container">
        <center>
            <span class="text-muted">
                Copyright
                <script type="text/javascript">document.write(new Date().getFullYear());</script> Wilbert Valut Company. | 974 73rd St #5, Des Moines, IA 50324 |  (515) 223-5908
            </span>
        </center>

    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>