@model IEnumerable<WilbertVaultCompany.api.Models.Interaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FollowUpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Outcome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuneralHomeId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FollowUpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Outcome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuneralHomeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InteractionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InteractionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InteractionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
